#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1em;
}

ul {
  /* list-style: none; */
}
li {
  text-align: left;
}
.read_the_docs {
  color: #888;
}
.loading_container {
  text-align: center;
  margin-top: 20px;
}
